#aboutContainer {
  box-sizing: border-box;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  border-radius: 10px;
  text-align: center;
  padding: 3vw;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: var(--dark_dark_blue);
}
.container2 {
  background-color: rgba(186, 225, 250, 0.5);
  height: fit-content;
  border-radius: 15px;
  padding: 2em 4em 2em 4em;
}
#codyPic {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(200, 225, 250, 0.5);
  border-width: 1em;
  margin-bottom: 1em;
  transform: translateZ(0);
}
#aboutWrapper {
  padding: 0;
  background-image: url("../img/trees.jpg");
  background-attachment: fixed;
  background-repeat: cover;
  padding-bottom: 2em;
  min-height: 100vh;
}
.mainHeader,
.aboutColumn {
  background-color: var(--dark_blue);
  color: var(--wheat);
  border-radius: 5px;
  margin-top: 1%;
  text-align: center;
  outline: solid var(--wheat);
  margin-top: 1%;
  box-shadow: 5px 5px 2px 5px grey;
}
.aboutColumn {
  padding-top: 5px;
}
.mainHeader,
.subHeader {
  font-family: "Martel Sans", sans-serif;
  font-weight: bolder;
}
@media (max-width: 575px) {
  .aboutColumn {
    margin-top: 20px !important;
  }
  .container2 {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media (min-width: 575px) and (max-width: 991px) {
  .subHeader {
    font-size: 16px !important;
  }
}
