.form {
  outline: auto;
  outline-color: var(--wheat);
  background-color: var(--dark_dark_blue);
  border-radius: 5px;
  padding: 1em;
  text-align: left;
}
.formInput {
  width: 100%;
  margin-bottom: 1em;
  outline: solid var(--wheat);
  border-radius: 5px;
}
label {
  color: var(--light_blue);
  border-radius: 5px;
}
.contactHeader {
  background-color: var(--dark_blue);
  color: var(--wheat);
  border-radius: 5px;
  margin-top: 1%;
  text-align: center;
  outline: solid var(--wheat);
}
#submitBtn {
  border-radius: 5px;
  width: 50%;
  background-color: var(--dark_blue);
  color: white;
}
#submitRow {
  display: flex;
  justify-content: center;
}
.contactSubHeader {
  font-family: "Martel Sans", sans-serif;
  font-weight: bolder;
  color: var(--light_blue);
  text-align: center;
}
